$color-primary:red;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    list-style-type: none;
    text-decoration: none;
    
}
.container{
    max-width: 1216px;
    margin: auto;
   
}
.top-header{
    margin-top: 20px;
    display: flex;
    justify-content:space-between;

    &-left{
        display: flex;
        gap:30px;

        p{
            color: black;
        }
    }
    &-right{
        p{
            color: black;
        }
    }
}
.icone{
    color: $color-primary;
    margin-right: 5px;
}
.navbar{
    display: flex;
    justify-content:space-between;
  
     margin-top:40px;

    &-links{
        display: flex; 
        gap: 45px;
        align-items: center;
        font-size: 15px;
        

        &-link{
            color: black;
            text-decoration: none;
            &:hover {
                color: red;
            }
        }
    }
    &-button{
        &-btn{
            background-color: $color-primary;
            color: white;
            border: none;
            padding: 15px;
            font-family:Roboto;
            font-weight: 600;
        }
       
    }
    }
    .red-line {
        width: 100%; 
        height: 3px; 
        background-color: red;
        margin-top: 13px;
    }
    .hero-section{
        &-img{
            margin-top: 30px;
        }
        &-title{
            text-align: center;
            font-size:300;
            margin-top: 50px;
        }
        &-parag{
            text-align: center;
            color: #a09c9c;
            font-size: 14px;
            margin: 20px;
            margin-left: 100px;
            margin-right: 100px;
        }
    }
    .services{
        &-cards{
            display: flex;
            flex-wrap: wrap; 
            gap: 32px;
            margin: 50px;
        }
        &-card{
            width: calc((100% - 64px) / 3);
            border: 1px solid #ccc;
            overflow: hidden;
    
            h4{
                margin-top: 30px;
                margin-left: 30px;
                font-size: 20px;
            }
            p{
                color: #a09c9c;
                margin-left: 30px;
                font-size: 15px;
            }
    
           &-img{
                width: 100%;
                height: auto;
                display: block;
            }
           
        }
        &-button{
            text-align: center;
            margin-bottom: 60px;
            &-btn{ 
                background-color: #363637;
                color: white;
                border: none;
                padding: 15px;
                font-weight: 500;
                
               
            }
        }
    }
    


    .footer{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .culomn1{
            &-line{
              width: 200px; 
              height: 1px; 
              background-color: #c6c0c0;;
              margin-top: 30px;
            }
            &-contact{
                margin-top: 25px;
            }
            &-icone{
                margin-right: 10px;
                margin-top: 20px;
            }
        }
        .culomn2{
            &-line{
                    width: 40px; 
                    height: 3px; 
                    background-color: red;
                    margin-top: 13px;
                }
            a{
                color: #494848;
            }
            &-links{
                margin-top: 20px;

                li{
                    margin-bottom: 20px;
                }
            }
           
        }
        .culomn3{
           
                width: 488px;
           height: 281px;
        }
    }
   



